<!-- page_title: Booking | Swiss Guest House Bhutan -->

<div id="content-wrapper">
    <div id="content">
        <h1>Room availability</h1>

        <div class="calendar">

            {% for month in calendar.months %}
            <div class="pure-u-1 pure-u-lg-1-2 month">
                <table class="pure-table pure-table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <span class=""></span>
                        </th>
                        <th colspan="5">{{month.name}}</th>
                        <th>
                            <span class=""></span>
                        </th>
                    </tr>
                    <tr>
                        <th>Mo</th>
                        <th>Di</th>
                        <th>Mi</th>
                        <th>Do</th>
                        <th>Fr</th>
                        <th>Sa</th>
                        <th>So</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for week in month.weeks %}
                    <tr>

                        {% for day in week.days %}
                        <td class="{{day.classes}}" title="{{day.title}}">
                            <span>{{day.number}}</span>
                        </td>
                        {% end days %}

                    </tr>
                    {% end weeks %}

                    </tbody>
                </table>
            </div>
            {% end months %}

            <div class="calendar-legend">
                <div class="calendar-free">rooms available</div>
                <div class="calendar-busy">fully booked</div>
            </div>
        </div>


        <h1>Booking</h1>
        <form method="post" action="book">
            <p>
            <label>Name</label>
            <input type="text" name="name">
            </p>
            <p>
            <label>Email</label>
            <input type="text" name="email">
            </p>
            <p>
            <label>From</label>
            <input type="text" name="from">
            </p>
            <p>
            <label>To</label>
            <input type="text" name="to">
            </p>
            <p>
            <button type="submit">Book</button>
            </p>
        </form>
    </div>
</div>
