<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="calendar.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

<div id="header">
    <h2 class="page-title red">
        <a href="index.html">Swiss Guest House Bhutan</a>
    </h2>
    <span class="page-claim">Make yourself at home!</span>
</div>

<div id="menu-wrapper">
    <div id="menu">
        <div class="leaf {% if name == 'index'    %} active {% end %}"><a href="index.html"   >Home</a></div>
        <div class="leaf {% if name == 'rooms'    %} active {% end %}"><a href="rooms.html"   >Rooms</a></div>
        <div class="leaf {% if name == 'house'    %} active {% end %}"><a href="house.html"   >House</a></div>
        <div class="leaf {% if name == 'pictures' %} active {% end %}"><a href="pictures.html">Pictures</a></div>
        <div class="leaf {% if name == 'bumthang' %} active {% end %}"><a href="bumthang.html">Bumthang</a></div>
        <div id="menu-right">
            <div class="en first">
                <span class="language-link active">en</span>
            </div>
            <div class="de last">
                <a href="{{ lang_names.de }}.html" class="language-link">de</a>
            </div>
        </div>
    </div>
</div>

{{ content }}

<div id="footer-wrapper">
    <div id="footer">
        <div id="footer-message">
            <div class="left">
                <a href="https://www.facebook.com/www.swissguesthouse.bt/"><img src="assets/link_facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/swissguesthouse/"><img src="assets/link_instagram.png" alt="instagram"></a>
            </div>
            <div class="right"><a href="copyright.html">Copyright</a> 2010-2022 Swiss Guest House Bhutan</div>
        </div>
    </div>
</div>

</body>
</html>
