<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

<div id="header">
    <h2 class="logo-name red">
        <a href="index_de.html">Swiss Guest House Bhutan</a>
    </h2>
    <span class="logo-text">Fühlen Sie sich wie zu Hause!</span>
</div>

<div id="menu">
    <div class="leaf first{% if name == 'history' %} active-trail{% end %}"><a href="history_de.html">Geschichte</a></div>
    <div class="leaf{% if name == 'pictures' %} active-trail{% end %}"><a href="pictures_de.html">Bilder</a></div>
    <div class="leaf{% if name == 'activities' %} active-trail{% end %}"><a href="activities_de.html">Aktivitäten</a></div>
    <div class="leaf last{% if name == 'guestbook' %} active-trail{% end %}"><a href="guestbook_de.html">Gästebuch</a></div>
    <div id="menu-right">
        <div class="en first">
            <a href="{{ lang_names.en }}.html" class="language-link">en</a>
        </div>
        <div class="de last">
            <span class="language-link active">de</span>
        </div>
    </div>
</div>

{{ content }}

<div id="footer-wrapper">
    <ul class="links">
        <li><a href="about_de.html">Über uns</a></li>
        <li><a href="contact_de.html">Kontakt</a></li>
        <li><a href="links_de.html">Links</a></li>
    </ul>
    <div id="footer-message"><a href="copyright_de.html">Copyright</a> 2010-2022 Swiss Guest House Bhutan</div>
</div>

</body>
</html>
