<!-- page_title: Bilder | Swiss Guest House Bhutan -->

<div id="content-wrapper">
    <div id="content">
        <div class="view-content">
            {% for gallery in galleries %}
            <div class="node">
                <h2 class="title red">{{gallery.title.de}}</h2>
                <div class="content gallery">
                    {% for image in gallery.images %}
                    <div>
                        <a href="{{image.original.path}}"
                           target="_blank" data-gallery-image-id="{{image.id}}" data-gallery-image-name="{{image.name}}"
                           data-pswp-width="{{image.original.width}}" data-pswp-height="{{image.original.height}}"
                           data-pswp-srcset="{{image.srcset}}">
                            <img src="{{image.renditions[0].path}}" alt="{{image.name}}"/>
                        </a>
                    </div>
                    {% end images %}
                </div>
            </div>
            {% end galleries %}
        </div>
    </div>
</div>

<script type="module" src="galleries/gallery.js"></script>
