.node-unpublished {
    background-color: #fff4f4;
}

.preview .node {
    background-color: #ffffea;
}

#node-admin-filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#node-admin-buttons {
    float: left;
    margin-left: 0.5em;
    clear: right;
}

td.revision-current {
    background: #ffc;
}

.node-form .form-text {
    display: block;
    width: 95%;
}

.node-form .container-inline .form-text {
    display: inline;
    width: auto;
}

.node-form .standard {
    clear: both;
}

.node-form textarea {
    display: block;
    width: 95%;
}

.node-form .attachments fieldset {
    float: none;
    display: block;
}

.terms-inline {
    display: inline;
}


fieldset {
    margin-bottom: 1em;
    padding: .5em;
}

form {
    margin: 0;
    padding: 0;
}

hr {
    height: 1px;
    border: 1px solid gray;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
}

.clear-block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear-block {
    display: inline-block;
}

/*_\*/
* html .clear-block {
    height: 1%;
}

.clear-block {
    display: block;
}

/* End hide from IE-mac */


body.drag {
    cursor: move;
}

th.active img {
    display: inline;
}

tr.even, tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}

tr.drag {
    background-color: #fffff0;
}

tr.drag-previous {
    background-color: #ffd;
}

td.active {
    background-color: #ddd;
}

td.checkbox, th.checkbox {
    text-align: center;
}

tbody {
    border-top: 1px solid #ccc;
}

tbody th {
    border-bottom: 1px solid #ccc;
}

thead th {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
}

.breadcrumb {
    padding-bottom: .5em
}

div.indentation {
    width: 20px;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    padding: 0.42em 0 0.42em 0.6em;
    float: left;
}

div.tree-child {
    background: url(/misc/tree.png) no-repeat 11px center;
}

div.tree-child-last {
    background: url(/misc/tree-bottom.png) no-repeat 11px center;
}

div.tree-child-horizontal {
    background: url(/misc/tree.png) no-repeat -11px center;
}

.error {
    color: #e55;
}

div.error {
    border: 1px solid #d77;
}

div.error, tr.error {
    background: #fcc;
    color: #200;
    padding: 2px;
}

.warning {
    color: #e09010;
}

div.warning {
    border: 1px solid #f0c020;
}

div.warning, tr.warning {
    background: #ffd;
    color: #220;
    padding: 2px;
}

.ok {
    color: #008000;
}

div.ok {
    border: 1px solid #00aa00;
}

div.ok, tr.ok {
    background: #dfd;
    color: #020;
    padding: 2px;
}

.item-list .icon {
    color: #555;
    float: right;
    padding-left: 0.25em;
    clear: right;
}

.item-list .title {
    font-weight: bold;
}

.item-list ul {
    margin: 0 0 0.75em 0;
    padding: 0;
}

.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
    list-style: disc;
}

ol.task-list li.active {
    font-weight: bold;
}

.form-item {
    margin-top: 1em;
    margin-bottom: 1em;
}

tr.odd .form-item, tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

tr.merge-down, tr.merge-down td, tr.merge-down th {
    border-bottom-width: 0 !important;
}

tr.merge-up, tr.merge-up td, tr.merge-up th {
    border-top-width: 0 !important;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid red;
}

.form-item .description {
    font-size: 0.85em;
}

.form-item label {
    display: block;
    font-weight: bold;
}

.form-item label.option {
    display: inline;
    font-weight: normal;
}

.form-checkboxes, .form-radios {
    margin: 1em 0;
}

.form-checkboxes .form-item, .form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.marker, .form-required {
    color: #f00;
}

.more-link {
    text-align: right;
}

.more-help-link {
    font-size: 0.85em;
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.item-list .pager {
    clear: both;
    text-align: center;
}

.item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}

.pager-current {
    font-weight: bold;
}

.tips {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
}

dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
    font-family: inherit;
    font-size: inherit;
    width: 14em;
}

dl.multiselect dd.a, dl.multiselect dd.a .form-item {
    width: 10em;
}

dl.multiselect dt, dl.multiselect dd {
    float: left;
    line-height: 1.75em;
    padding: 0;
    margin: 0 1em 0 0;
}

dl.multiselect .form-item {
    height: 1.75em;
    margin: 0;
}

.container-inline div, .container-inline label {
    display: inline;
}

ul.primary {
    border-collapse: collapse;
    padding: 0 0 0 1em;
    white-space: nowrap;
    list-style: none;
    margin: 5px;
    height: auto;
    line-height: normal;
    border-bottom: 1px solid #bbb;
}

ul.primary li {
    display: inline;
}

ul.primary li a {
    background-color: #ddd;
    border-color: #bbb;
    border-width: 1px;
    border-style: solid solid none solid;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}

ul.primary li.active a {
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: #fff 1px solid;
}

ul.primary li a:hover {
    background-color: #eee;
    border-color: #ccc;
    border-bottom-color: #eee;
}

ul.secondary {
    border-bottom: 1px solid #bbb;
    padding: 0.5em 1em;
    margin: 5px;
}

ul.secondary li {
    display: inline;
    padding: 0 1em;
    border-right: 1px solid #ccc;
}

ul.secondary a {
    padding: 0;
    text-decoration: none;
}

ul.secondary a.active {
    border-bottom: 4px solid #999;
}

#autocomplete {
    position: absolute;
    border: 1px solid;
    overflow: hidden;
    z-index: 100;
}

#autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#autocomplete li {
    background: #fff;
    color: #000;
    white-space: pre;
    cursor: default;
}

#autocomplete li.selected {
    background: #0072b9;
    color: #fff;
}

html.js input.form-autocomplete {
    background-image: url(/misc/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 2px;
}

html.js input.throbbing {
    background-position: 100% -18px;
}

html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    height: 1em;
}

html.js fieldset.collapsed * {
    display: none;
}

html.js fieldset.collapsed legend {
    display: block;
}

html.js fieldset.collapsible legend a {
    padding-left: 15px;
    background: url(/misc/menu-expanded.png) 5px 75% no-repeat;
}

html.js fieldset.collapsed legend a {
    background-image: url(/misc/menu-collapsed.png);
    background-position: 5px 50%;
}

* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * {
    display: inline;
}

html.js fieldset.collapsible {
    position: relative;
}

html.js fieldset.collapsible legend a {
    display: block;
}

html.js fieldset.collapsible .fieldset-wrapper {
    overflow: auto;
}

.resizable-textarea {
    width: 95%;
}

.resizable-textarea .grippie {
    height: 9px;
    overflow: hidden;
    background: #eee url(/misc/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
}

html.js .resizable-textarea textarea {
    margin-bottom: 0;
    width: 100%;
    display: block;
}

.draggable a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 1.7em;
    margin: -0.4em 0 -0.4em -0.5em;
    padding: 0.42em 1.5em 0.42em 0.5em;
    text-decoration: none;
}

a.tabledrag-handle:hover {
    text-decoration: none;
}

a.tabledrag-handle .handle {
    margin-top: 4px;
    height: 13px;
    width: 13px;
    background: url(/misc/draggable.png) no-repeat 0 0;
}

a.tabledrag-handle-hover .handle {
    background-position: 0 -20px;
}

.joined + .grippie {
    height: 5px;
    background-position: center 1px;
    margin-bottom: -2px;
}

.teaser-checkbox {
    padding-top: 1px;
}

div.teaser-button-wrapper {
    float: right;
    padding-right: 5%;
    margin: 0;
}

.teaser-checkbox div.form-item {
    float: right;
    margin: 0 5% 0 0;
    padding: 0;
}

textarea.teaser {
    display: none;
}

html.js .no-js {
    display: none;
}

.progress {
    font-weight: bold;
}

.progress .bar {
    background: #fff url(/misc/progress.gif);
    border: 1px solid #00375a;
    height: 1.5em;
    margin: 0 0.2em;
}

.progress .filled {
    background: #0072b9;
    height: 1em;
    border-bottom: 0.5em solid #004a73;
    width: 0%;
}

.progress .percentage {
    float: right;
}

.progress-disabled {
    float: left;
}

.ahah-progress {
    float: left;
}

.ahah-progress .throbber {
    width: 15px;
    height: 15px;
    margin: 2px;
    background: transparent url(/misc/throbber.gif) no-repeat 0px -18px;
    float: left;
}

tr .ahah-progress .throbber {
    margin: 0 2px;
}

.ahah-progress-bar {
    width: 16em;
}

#first-time strong {
    display: block;
    padding: 1.5em 0 .5em;
}

tr.selected td {
    background: #ffc;
}

table.sticky-header {
    margin-top: 0;
    background: #fff;
}

#clean-url.install {
    display: none;
}

html.js .js-hide {
    display: none;
}

#system-modules div.incompatible {
    font-weight: bold;
}

#system-themes-form div.incompatible {
    font-weight: bold;
}

span.password-strength {
    visibility: hidden;
}

input.password-field {
    margin-right: 10px;
}

div.password-description {
    padding: 0 2px;
    margin: 4px 0 0 0;
    font-size: 0.85em;
    max-width: 500px;
}

div.password-description ul {
    margin-bottom: 0;
}

.password-parent {
    margin: 0 0 0 0;
}

input.password-confirm {
    margin-right: 10px;
}

.confirm-parent {
    margin: 5px 0 0 0;
}

span.password-confirm {
    visibility: hidden;
}

span.password-confirm span {
    font-weight: normal;
}

ul.menu {
    list-style: none;
    border: none;
    text-align: left;
}

ul.menu li {
    margin: 0 0 0 0.5em;
}

li.expanded {
    list-style-type: circle;
    list-style-image: url(/misc/menu-expanded.png);
    padding: 0.2em 0.5em 0 0;
    margin: 0;
}

li.collapsed {
    list-style-type: disc;
    list-style-image: url(/misc/menu-collapsed.png);
    padding: 0.2em 0.5em 0 0;
    margin: 0;
}

li.leaf {
    list-style-type: square;
    list-style-image: url(/misc/menu-leaf.png);
    padding: 0.2em 0.5em 0 0;
    margin: 0;
}

li a.active {
    color: #000;
}

td.menu-disabled {
    background: #ccc;
}

ul.links {
    margin: 0;
    padding: 0;
}

ul.links.inline {
    display: inline;
}

ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}

.block ul {
    margin: 0;
    padding: 0 0 0.25em 1em;
}

#permissions td.module {
    font-weight: bold;
}

#permissions td.permission {
    padding-left: 1.5em;
}

#access-rules .access-type, #access-rules .rule-type {
    margin-right: 1em;
    float: left;
}

#access-rules .access-type .form-item, #access-rules .rule-type .form-item {
    margin-top: 0;
}

#access-rules .mask {
    clear: both;
}

#user-login-form {
    text-align: center;
}

#user-admin-filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#user-admin-buttons {
    float: left;
    margin-left: 0.5em;
    clear: right;
}

#user-admin-settings fieldset .description {
    font-size: 0.85em;
    padding-bottom: .5em;
}

.profile {
    clear: both;
    margin: 1em 0;
}

.profile .picture {
    float: right;
    margin: 0 1em 1em 0;
}

.profile h3 {
    border-bottom: 1px solid #ccc;
}

.profile dl {
    margin: 0 0 1.5em 0;
}

.profile dt {
    margin: 0 0 0.2em 0;
    font-weight: bold;
}

.profile dd {
    margin: 0 0 1em 0;
}


.field .field-label, .field .field-label-inline, .field .field-label-inline-first {
    font-weight: bold;
}

.field .field-label-inline, .field .field-label-inline-first {
    display: inline;
}

.field .field-label-inline {
    visibility: hidden;
}

.node-form .content-multiple-table td.content-multiple-drag {
    width: 30px;
    padding-right: 0;
}

.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle {
    padding-right: .5em;
}

.node-form .content-add-more .form-submit {
    margin: 0;
}

.node-form .number {
    display: inline;
    width: auto;
}

.node-form .text {
    width: auto;
}

.form-item #autocomplete .reference-autocomplete {
    white-space: normal;
}

.form-item #autocomplete .reference-autocomplete label {
    display: inline;
    font-weight: normal;
}

#content-field-overview-form .advanced-help-link, #content-display-overview-form .advanced-help-link {
    margin: 4px 4px 0 0;
}

#content-field-overview-form .label-group, #content-display-overview-form .label-group, #content-copy-export-form .label-group {
    font-weight: bold;
}

table#content-field-overview .label-add-new-field, table#content-field-overview .label-add-existing-field, table#content-field-overview .label-add-new-group {
    float: left;
}

table#content-field-overview tr.content-add-new .tabledrag-changed {
    display: none;
}

table#content-field-overview tr.content-add-new .description {
    margin-bottom: 0;
}

table#content-field-overview .content-new {
    font-weight: bold;
    padding-bottom: .5em;
}

.advanced-help-topic h3, .advanced-help-topic h4, .advanced-help-topic h5, .advanced-help-topic h6 {
    margin: 1em 0 .5em 0;
}

.advanced-help-topic dd {
    margin-bottom: .5em;
}

.advanced-help-topic span.code {
    background-color: #EDF1F3;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
    font-size: 0.9em;
    padding: 1px;
}

.advanced-help-topic .content-border {
    border: 1px solid #AAA
}


.filefield-icon {
    margin: 0 2px 0 0;
}

.filefield-element {
    margin: 1em 0;
    white-space: normal;
}

.filefield-element .widget-preview {
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #CCC;
    max-width: 30%;
}

.filefield-element .widget-edit {
    float: left;
    max-width: 70%;
}

.filefield-element .filefield-preview {
    width: 16em;
    overflow: hidden;
}

.filefield-element .widget-edit .form-item {
    margin: 0 0 1em 0;
}

.filefield-element input.form-submit, .filefield-element input.form-file {
    margin: 0;
}

.filefield-element input.progress-disabled {
    float: none;
    display: inline;
}

.filefield-element div.ahah-progress, .filefield-element div.throbber {
    display: inline;
    float: none;
    padding: 1px 13px 2px 3px;
}

.filefield-element div.ahah-progress-bar {
    display: none;
    margin-top: 4px;
    width: 28em;
    padding: 0;
}

.filefield-element div.ahah-progress-bar div.bar {
    margin: 0;
}

.image-navigator tr {
    background: #fff
}

table.image-navigator td.image-navigator-position {
    width: 17%
}

table.image-navigator td.image-navigator-first {
    width: 15%;
    text-align: right
}

table.image-navigator td.image-navigator-prev {
    width: 18%;
    text-align: left
}

table.image-navigator td.image-navigator-next {
    width: 15%;
    text-align: right
}

table.image-navigator td.image-navigator-last {
    width: 15%;
    text-align: left
}

table.image-navigator td.image-navigator-gallery-link {
    width: 20%;
    text-align: right
}

.ng3-hidden {
    display: none;
}

.ng3-rotate-90 {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.ng3-rotate-180 {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.ng3-rotate-270 {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#node-gallery-rotate-dialog img {
    margin: 10px;
    border: 1px solid #000;
}

#node-gallery-rotate-dialog img.selected {
    outline: 5px solid #000;
}

#node-gallery-manage-images-form div.description {
    white-space: normal;
}

#node-gallery-sort-images-grid {
    margin: 10px auto;
}

div.node-gallery-sort-presets {
    margin-bottom: 5px;
    padding: 5px;
}

div.node-gallery-sort-images-item {
    width: 70px;
    height: 70px;
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: move;
}

div.node-gallery-sort-images-item:hover {
    background-color: #e0e0e0;
    outline: 1px dashed #98C4DF;
}

div.node-gallery-sort-images-item img {
    width: 50px;
    height: 50px;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
}

div.view-node-gallery-gallery-image-views div.views-field-title {
    font-size: 1.2em;
}

img.imagecache-node-gallery-admin-thumbnail {
    border: 1px solid #666;
}

div.views-field-field-node-gallery-image-fid {
    text-align: center;
}

div.views-field-field-node-gallery-image-fid img {
    border: 1px solid #666;
}

div.field-field-node-gallery-image {
    text-align: center;
}

div.node-node_gallery_image div.field-field-node-gallery-image img {
    border: 1px solid #666;
}

div.view-node-gallery-gallery-image-views div.views-field-field-node-gallery-image-fid a:hover {
    background-color: #e0e0e0;
    display: block;
}

div.view-node-gallery-gallery-image-views table.views-view-grid td {
    padding-bottom: 0;
    text-align: center;
}

div.view-node-gallery-gallery-image-views table {
    margin: 0;
    padding: 0;
}


div.fieldgroup {
    margin: .5em 0 1em 0;
}

div.fieldgroup .content {
    padding-left: 1em;
}

.views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}

.views-exposed-form .form-item, .views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}

.views-exposed-form label {
    font-weight: bold;
}

.views-exposed-widgets {
    margin-bottom: .5em;
}

html.js a.views-throbbing, html.js span.views-throbbing {
    background: url(/sites/all/modules/views/images/status-active.gif) no-repeat right center;
    padding-right: 18px;
}

div.view div.views-admin-links {
    font-size: xx-small;
    margin-right: 1em;
    margin-top: 1em;
}

.block div.view div.views-admin-links {
    margin-top: 0;
}

div.view div.views-admin-links ul {
    margin: 0;
    padding: 0;
}

div.view div.views-admin-links li {
    margin: 0;
    padding: 0 0 2px 0;
    z-index: 201;
}

div.view div.views-admin-links li a {
    padding: 0;
    margin: 0;
    color: #ccc;
}

div.view div.views-admin-links li a:before {
    content: "[";
}

div.view div.views-admin-links li a:after {
    content: "]";
}

div.view div.views-admin-links-hover a, div.view div.views-admin-links:hover a {
    color: #000;
}

div.view div.views-admin-links-hover, div.view div.views-admin-links:hover {
    background: transparent;
}

div.view div.views-hide {
    display: none;
}

div.view div.views-hide-hover, div.view:hover div.views-hide {
    display: block;
    position: absolute;
    z-index: 200;
}

div.view:hover div.views-hide {
    margin-top: -1.5em;
}

.views-view-grid tbody {
    border-top: none;
}


body {
    background: url(images/body-bg.gif) repeat-x #fff;
    font-size: 84%;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

tr.odd td, tr.even td {
    padding: 0.5em;
}

a {
    text-decoration: none;
}

a:link {
    color: #cc0000;
    text-decoration: none;
}

a:visited {
    color: #cc0000;
    text-decoration: none;
}

a:hover {
    color: #ee2020;
}

blockquote {
    background: url(images/bq-tl.gif) no-repeat left top;
    padding-left: 30px;
    margin-left: 10px;
    font-style: italic;
}

blockquote p {
    background: url(images/bq-br.gif) no-repeat right bottom;
}

cite {
    background: url(images/bq-tl.gif) no-repeat left top;
    clear: both;
    display: block;
    font-style: italic;
    padding-left: 30px;
    margin-left: 10px;
}

code, tt, pre {
    background-color: #EDF1F3;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
    font-size: 0.9em;
    line-height: 1.2em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

#header {
    height: 66px;
    position: relative;
    width: 950px;
    margin: 0 auto;
}

#header-first {
    float: left;
}

.logo {
    padding-top: 10px;
    padding-left: 5px;
}

.logo IMG {
    height: 50px;
}

#header-middle {
    float: left;
    padding-top: 25px;
}

.logo-name {
    display: inline;
    font-weight: bold;
    font-size: 25px;
    padding-left: 15px;
    position: relative;
    font-family: Times;
}

.logo-text {
    display: inline;
    font-weight: bold;
    position: relative;
    padding-left: 10px;
    font-family: Verdana, Tahoma;
}

#header-wrapper #search-box {
    margin: 4px 14px;
    position: absolute;
    right: 0;
    top: 30px;
    white-space: nowrap;
}

#header-wrapper #search-box #search input.form-text {
    border: 1px solid #D5D5D5;
    width: 10em;
}

#menu {
    height: 35px;
    background: url(images/menu-bg.gif) repeat-x;
    width: 952px;
    margin: 0 auto;
}

#menu-right {
    float: right;
    line-height: 1;
    padding: 12px 0;
}

#menu-right, #menu-right a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#menu-right, #menu-right a.active {
    color: #f99;
}

#menu-right ul li {
    border-left: 1px solid #f99;
}

#menu-right ul li.first {
    border-left: 0;
}

#nav {
    height: 35px;
    background: url(images/menu-bg.gif) repeat-x;
    float: left;
}

#nav li {
    float: left;
    background: url(images/menu-separator.gif) no-repeat right top;
    height: 35px;
    padding: 0 1px 0 0;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 7px 29px 0 29px;
    display: inline-block;
    font-weight: bold;
    height: 25px;
    text-transform: uppercase;
}

#nav li a:hover {
    background: transparent url(images/menu-hover-bg.gif) repeat-x;
}

#nav li.active-trail a {
    background: transparent url(images/menu-hover-bg.gif) repeat-x;
}

#rounded-menu-left {
    height: 35px;
    background: transparent url(images/menu-left-bg.gif) no-repeat;
    float: left;
    width: 1px;
    line-height: 0;
    font-size: 0;
}

#rounded-menu-right {
    height: 35px;
    background: url(images/menu-right-bg.gif) no-repeat;
    float: right;
    width: 14px;
    line-height: 0;
    font-size: 0;
}

#superfish {
    height: 35px;
    float: left;
}

#menu-right h2, #superfish h2 {
    height: 0;
    overflow: hidden;
    position: absolute;
}

#superfish .menu, #superfish .menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

#superfish .menu {
    line-height: 1.0;
}

#superfish .menu ul {
    position: absolute;
    top: -999em;
    width: 13em;
}

#superfish .menu ul li {
    width: 100%;
}

#superfish .menu li:hover {
    visibility: inherit;
}

#superfish .menu li {
    float: left;
    position: relative;
}

#superfish .menu a {
    display: block;
    position: relative;
}

#superfish .menu li:hover ul, #superfish .menu li.sfHover ul {
    left: 0;
    top: 32px;
    z-index: 99;
}

#superfish ul.menu li:hover li ul, #superfish ul.menu li.sfHover li ul {
    top: -999em;
}

#superfish ul.menu li li:hover ul, #superfish ul.menu li li.sfHover ul {
    left: 13em;
    top: 0;
}

#superfish ul.menu li li:hover li ul, #superfish ul.menu li li.sfHover li ul {
    top: -999em;
}

#superfish ul.menu li li li:hover ul, #superfish ul.menu li li li.sfHover ul {
    left: 13em;
    top: 0;
}

#superfish .menu {
    float: left;
    margin-bottom: 1em;
}

#superfish .menu a {
    padding: .75em 1em;
    text-decoration: none;
}

#superfish .menu a.sf-with-ul {
    padding-right: 2.25em;
    min-width: 1px;
}

#superfish .menu a, #superfish .menu a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 11px;
}

#superfish .menu li {
    background: transparent;
}

#superfish .menu li li {
    background: #ab0f13;
}

#superfish .menu li li li {
    background: #ab0f13;
    top: 0px;
}

#superfish .menu li:hover, #superfish .menu li.sfHover, #superfish .menu a:focus, #superfish .menu a:hover, #superfish .menu a:active {
    outline: 0;
}

#superfish .menu li:hover, #superfish .menu li.sfHover, #superfish .menu a:focus, #superfish .menu a:hover, #superfish .menu a:active {
    z-index: 10;
}

#superfish .menu li:hover {
    background: transparent url(images/menu-hover-bg.gif) repeat-x;
}

#superfish .menu li.active-trail {
    background: transparent url(images/menu-hover-bg.gif) repeat-x;
}

#superfish .menu li.active-trail li {
    background: #ab0f13;
}

#superfish .menu li li:hover {
    background: #dc1427;
}

#superfish .menu li li li:hover {
    background: #dc1427;
}

.sf-sub-indicator {
    position: absolute;
    display: block;
    right: .75em;
    top: 1.05em;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    overflow: hidden;
    background: url(images/arrows-ffffff.png) no-repeat -10px -100px;
}

a > .sf-sub-indicator {
    top: .8em;
    background-position: 0 -100px;
}

a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
    background-position: -10px -100px;
}

#superfish .menu ul .sf-sub-indicator {
    background-position: -10px 0;
}

#superfish .menu ul a > .sf-sub-indicator {
    background-position: 0 0;
}

#superfish .menu ul a:focus > .sf-sub-indicator, #superfish .menu ul a:hover > .sf-sub-indicator, #superfish .menu ul a:active > .sf-sub-indicator, #superfish .menu ul li:hover > a > .sf-sub-indicator, #superfish .menu ul li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 0;
}

#superfish .sf-shadow ul {
    background: url(images/shadow.png) no-repeat bottom right;
    padding: 0 8px 9px 0;
    -moz-border-radius-bottomleft: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
}

#superfish .sf-shadow ul.sf-shadow-off {
    background: transparent;
}

#slideshow-wrapper {
    width: 100%;
    background: transparent url(images/slideshow-shadow.gif) no-repeat center bottom;
    height: 420px;
    margin-bottom: -45px;
    margin-top: 14px;
}

.slideshow-inner {
    width: 950px;
    margin: 0 auto;
    height: 355px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

#slideshow-preface {
    float: left;
    position: absolute;
    text-align: left;
    z-index: 4;
}

.slideshow {
    width: 950px;
    height: 355px;
    position: relative;
}

.slideshow div {
    width: 950px;
    height: 355px;
    border-radius: 5px;
}

#preface {
    padding: 20px;
    font-size: 1.2em;
    color: #fff;
    display: block;
    float: left;
}

#preface a {
    color: #fff;
    text-decoration: underline;
}

#preface a:hover {
    text-decoration: none;
}

#slideshow-bottom {
    width: 950px;
    float: left;
    background: url(images/mission-bg.png) no-repeat center bottom;
    min-height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    z-index: 6;
    line-height: 1.7em;
    cursor: default;
}

#preface-wrapper {
    width: 950px;
    margin: 0 auto;
}

#preface-wrapper .column {
    float: left;
}

#preface-wrapper.in1 .column {
    width: 100%;
}

#preface-wrapper.in2 .column {
    width: 50%;
}

#preface-wrapper.in3 .column {
    width: 33.3%;
}

#preface-wrapper .block {
    padding-left: 15px;
    padding-right: 15px;
}

#mission {
    padding: 20px;
    font-size: 1.6em;
    color: #002054;
    display: block;
    float: right;
}

#wrapper {
    width: 950px;
    margin: 15px auto 10px;
}

#content {
    width: 100%;
    float: left;
}

#sidebar-side-l #sidebar-left {
    width: 26%;
    float: left;
    font-size: 12px;
}

#sidebar-side-2 #sidebar-left {
    width: 21%;
    float: left;
    margin-right: 2%;
    font-size: 12px;
}

.sidebars-l #content {
    width: 69%;
    padding-left: 25px;
    float: left;
}

.sidebars-r #content {
    width: 69%;
    padding-right: 25px;
    float: left;
}

.sidebars-2 #content {
    width: 54%;
    float: left;
}

#sidebar-side-r #sidebar-right {
    width: 26%;
    float: right;
    font-size: 12px;
}

#sidebar-side-2 #sidebar-right {
    width: 21%;
    float: right;
    font-size: 12px;
}

#sidebar-left .block, #sidebar-right .block {
    margin-bottom: 10px;
}

#sidebar-left h2.block-title, #sidebar-right h2.block-title {
    background: #e6e6e6;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3em;
    border-right: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#sidebar-left .block-content, #sidebar-right .block-content {
    background-color: #f4f4f4;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#sidebar-left .block-inner, #sidebar-right .block-inner {
    padding-bottom: 5px;
}

#sidebar-left .block-content, #sidebar-right .block-content {
}

#sidebar-left .block-content-inner, #sidebar-right .block-content-inner {
    margin: 0;
    padding: 5px 15px 5px 15px;
}

#help {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.error {
    border-color: red;
}

.terms {
    background-repeat: no-repeat;
    padding-left: 18px;
    padding-bottom: 5px;
}

.book-navigation .menu {
    padding-bottom: 15px;
}

#notice {
    font-size: 10px;
    text-align: center;
    margin-bottom: -10px;
}

.node {
    margin: .5em 0 1em;
    padding-bottom: 1em;
}

.content-top {
    margin: 0 0 1.5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: .1em;
    padding-bottom: .5em;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #f4f4f4;;
}

.content-bottom {
    margin: 1.5em 0 1em;
    padding: .1em;
    border: 1px solid #ddd;
    background-color: #f4f4f4;;
}

.title, .title a {
    margin: 0 auto;
    line-height: 1.2em;
}

.front .title {
    font-size: 3.2em;
}

.node .content, .comment .content {
    margin: .5em 0 .5em;
}

.node .taxonomy {
    color: #999;
    font-size: 0.9em;
    padding-left: 1em;
}

.node .picture, .comment .picture {
    float: right;
}

.preview .node, .preview .comment {
    background-color: #f4f4f4;;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0.8em;
}

.submitted {
    font-size: 0.9em;
    color: #999;
}

.submitted a:hover {
    text-decoration: underline;
}

.sticky {
    padding: 1em;
    background-color: #f4f4f4;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.messages {
    background-color: #f4f4f4;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0.3em;
    margin-bottom: 1em;
}

.breadcrumb {
    background-color: #f4f4f4;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.comment {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 1em;
    padding-top: 0;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background-color: #f4f4f4;
}

.comment .title {
    line-height: 1.2em;
}

.comment .new {
    text-align: right;
    font-weight: normal;
    float: right;
    color: red;
    margin: .5em;
}

.feed-item-body {
    border-bottom: 1px solid #bbb;
    padding-bottom: 1em;
}

#aggregator .feed-source {
    background-color: #f4f4f4;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0.8em;
}

#aggregator h1 .title {
    border-bottom: 1px solid #bbb;
}

#aggregator h2 {
    padding-top: 10px;
}

#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
    color: #999;
    font-style: italic;
}

.feed-item-title {
    font-size: 1.4em;
}

#aggregator h3 a:hover {
    text-decoration: none;
}

.feed-item-meta .feed-item-source {
    font-size: 0.9em;
}

.feed-item-meta .feed-item-date {
    font-size: 0.9em;
    color: #999;
}

#forum table {
    width: 100%;
}

#forum td {
    padding: 0.5em;
    border: 1px solid #bbb;
}

#forum td.forum, #forum td.posts {
    background-color: #f4f4f4;
}

#forum td.topics, #forum td.last-reply {
    background-color: #f4f4f4;
}

#forum td.container {
    background-color: #e6e6e6;
}

#forum ul.links a {
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 5px;
}

#forum ul.links li.forum a {
    background-image: url(images/post.gif);
}

#forum td.statistics, #forum td.settings, #forum td.pager {
    height: 1em;
    border: 1px solid #bbb;
}

#forum td .links {
    padding-top: 0.7em;
}

.block-forum h3 {
    margin-bottom: .5em;
}

dl dd {
    margin: 0 0 .5em 1em;
}

#tracker table {
    width: 100%;
}

#tracker td {
    padding: 0.5em;
}

.profile {
    clear: both;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: .8em;
    margin: 1em 0em;
    background-color: #f4f4f4;;
}

div.admin-panel .body {
    background: #f4f4f4;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

div.admin-panel h3 {
    background-color: #e6e6e6;;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px 8px 5px;
    margin: 0;
}

div.admin {
    padding-top: 0;
}

div.admin .left, div.admin .right {
    margin-left: 1%;
    margin-right: 1%;
}

.poll .bar {
    background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
    border: solid #f0f0f0;
    border-width: 1px 1px 1px;
}

.poll .bar .foreground {
    background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

ul.links li.first {
    border: none;
}

ul {
    margin: 0.5em 0 1em;
    padding: 0;
}

ol {
    margin: 0.75em 0 1.25em;
    padding: 0;
}

ol li, ul li {
    margin: 0.4em 0 0.4em .5em;
}

ul.menu, .item-list ul {
    margin: 0.35em 0 0 -0.5em;
    padding: 0;
}

ul.menu ul, .item-list ul ul {
    margin-left: 0em;
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
    margin: 0.15em 0 0.15em .5em;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
    padding: 0 0 .2em 1.5em;
    list-style-type: none;
    list-style-image: none;
    background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
}

ol li {
    padding: 0 0 .3em;
    margin-left: 2em;
}

ul li.expanded {
    background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed {
    background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
    display: block;
}

ul.inline li {
    background: none;
    margin: 0;
    padding: 0 1em 0 0;
}

ol.task-list {
    margin-left: 0;
    list-style-type: none;
    list-style-image: none;
}

ol.task-list li {
    padding: 0.5em 1em 0.5em 2em;
}

ol.task-list li.active {
    background: transparent url(images/task-list.png) no-repeat 3px 50%;
}

ol.task-list li.done {
    background: transparent url(/misc/watchdog-ok.png) no-repeat 0px 50%;
}

ol.task-list li.active {
    margin-right: 1em;
}

fieldset ul.clear-block li {
    margin: 0;
    padding: 0;
    background-image: none;
}

#user-login-form {
    text-align: center;
}

#user-login-form ul {
    text-align: left;
}

ul.links li, ul.inline li {
    background-image: none;
}

.links li {
    margin: 0;
    padding: 0;
}

.tabs li {
    margin: 0;
    padding: 0;
    background-image: none;
}

div.links ul.links a {
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 5px;
}

div.links ul.links li.comment_add a {
    background-image: url(images/commentadd.gif);
}

div.links ul.links li.comment_comments a {
    background-image: url(images/comments.gif);
}

div.links ul.links li.comment_edit a {
    background-image: url(images/commentedit.gif);
}

div.links ul.links li.comment_delete a {
    background-image: url(images/commentdelete.gif);
}

div.links ul.links li.comment_reply a {
    background-image: url(images/commentadd.gif);
}

div.links ul.links li.node_read_more a {
    background-image: url(images/readmore.gif);
}

div.links ul.links li.blog_usernames_blog a {
    background-image: url(images/user.gif);
}

div.links ul.links li.comment_forbidden a {
    background-image: url(images/lock.gif);
}

div.links ul.links li.upload_attachments a {
    background-image: url(images/photo.gif);
}

div.links ul.links li.book_printer a {
    background-image: url(images/print.gif);
}

div.links ul.links li.book_add_child a {
    background-image: url(images/add.gif);
}

ul.pager li.pager-current {
    background: #ab0f13;
    color: #FFFFFF;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.item-list .pager li {
    padding: 0px;
}

.item-list .pager li a {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #f4f4f4;;
}

.item-list .pager li a:hover {
    background: #dc1427;
    color: #FFFFFF;
}

#authorize {
    float: right;
    padding-top: 5px;
}

#authorize ul {
    display: inline;
}

#authorize ul li {
    margin: 0 10px 0 0;
    padding: 0 0 0 10px;
    display: inline;
    list-style: none;
    border-left: 1px #5a5a5a solid;
    background-image: none;
}

#authorize ul li.first {
    border: 0;
}

#authorize ul li, #authorize ul li a {
    font-size: 12px;
    line-height: 13px;
}

#authorize a.feed-icon {
    padding-right: 20px;
}

#bottom-teaser {
    width: 950px;
    margin: 10px auto 10px;
}

#bottom-teaser .column {
    float: left;
}

#bottom-teaser.in1 .column {
    width: 100%;
}

#bottom-teaser.in2 .column {
    width: 50%;
}

#bottom-teaser.in3 .column {
    width: 33.3%;
}

#bottom-wrapper {
    background-color: #f4f4f4;;
    border: 1px solid #bbb;
    margin: 10px auto 0;
    text-align: left;
    width: 950px;
    position: relative;
}

#bottom-wrapper h2 {
    font-size: 1.3em;
    padding: 5px;
}

#bottom-wrapper .column {
    float: left;
}

#bottom-wrapper.in1 .column {
    width: 100%;
}

#bottom-wrapper.in2 .column {
    width: 50%;
}

#bottom-wrapper.in3 .column {
    width: 33.3%;
}

#bottom-wrapper.in4 .column {
    width: 25%;
}

#bottom-wrapper .block {
    padding-left: 15px;
    padding-right: 15px;
}

#footer-wrapper {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

#footer {
    width: 950px;
    margin: 0 auto;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#subnav {
    font-size: 12px;
}

#subnav li {
}

#subnav li.first {
    border-left: none;
}

#subnav li a {
    font-weight: normal;
}

#subnav li a:hover {
    color: #cc6600;
}

#subnav-wrapper {
    text-align: center;
    padding-bottom: 5px;
}

#subnav-wrapper ul {
    display: inline;
}

#subnav-wrapper ul li {
    display: inline;
    list-style: none;
    background-image: none;
    padding-left: 5px;
}

#subnav-wrapper ul li, #subnav-wrapper ul li a {
    font-size: 12px;
    line-height: 13px;
}

#footer-message {
    text-align: right;
    font-size: 70%;
}

.view-Pictures {
    padding: 15px 0;
}

.views-field-field-pictures-fid {
    text-align: center;
}

table {
    width: 100%;
}

table.image-navigator {
    margin-top: 15px;
}

img {
    vertical-align: bottom;
}

.view-node-gallery-gallery-image-views .views-view-grid td {
    width: 16%;
    min-height: 120px;
    vertical-align: top;
}

div.field-field-node-gallery-image, div.views-field-title, div.views-field-field-node-gallery-image-fid {
    text-align: center;
}

.progress .bar {
    height: 1.4em;
}
